.btn-info{
    color:#000000 !important;
    background-color:#19aa8d;
    border-color:#17a2b8
}
.btn-success{
    color:#000000 !important;
    background-color:#19aa8d !important;
    border-color:#17a2b8;
}